<!DOCTYPE html>
{% extends 'base.html' %}


{% block 'content' %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Acerca de Nosotros</h4>
                <h1 class="display-4">Sirviendo desde 2010</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Inicios</h1>
                    <h5 class="mb-3">En el corazón de Santiago, donde los días transcurren lentamente y las noches están llenas de estrellas, nació la pasión por los flanes. Todo comenzó en la cocina de la abuela Elba, una mujer de espíritu cálido y manos mágicas para la repostería. Cada domingo, su hogar se llenaba del dulce aroma de la vainilla, el caramelo y el chocolate, atrayendo a toda su familia a disfrutar de la calidez del hogar.</p>
                    <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Conócenos</a>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/flanHuevo.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Nuestra visión</h1>
                    <p>En OnlyFlans, nuestra visión es ser reconocidos como el referente mundial en la elaboración de flanes artesanales, celebrando la tradición y la innovación en cada creación. Nos esforzamos por mantener viva la esencia de las recetas familiares mientras exploramos nuevos horizontes de sabor, calidad y sostenibilidad.</p>
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Calidad y Autenticidad</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Innovación con Tradición</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Innovación con Tradición</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Expansión y Accesibilidad</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Experiencia del Cliente</h5>

                    <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Visión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>

    
</body>

</html>