{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Carousel Start -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="onlyflans\web\static\img\carrusel1.avif" class="d-block w-100" alt="carrusel1">
            </div>
        <div class="carousel-item">
                <img src="onlyflans\web\static\img\carrusel2.jpg" class="d-block w-100" alt="carrusel2">
            </div>
        <div class="carousel-item">
                <img src="onlyflans\web\static\img\carrusel3.jpg" class="d-block w-100" alt="carrusel3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Acerca de Nosotros</h4>
            <h1 class="display-4">Sirviendo desde 2010</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Nuestra historia</h1>
                <h5 class="mb-3">En el corazón de Santiago, donde los días transcurren lentamente y las noches están llenas de estrellas, nació la pasión por los flanes. Todo comenzó en la cocina de la abuela Elba, una mujer de espíritu cálido y manos mágicas para la repostería. Cada domingo, su hogar se llenaba del dulce aroma de la vainilla, el caramelo y el chocolate, atrayendo a toda su familia a disfrutar de la calidez del hogar.</p>
                <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Conócenos</a>
            </div>
            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{%static 'img/flanHuevo.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Nuestra visión</h1>
                <p>En OnlyFlans, nuestra visión es ser reconocidos como el referente mundial en la elaboración de flanes artesanales, celebrando la tradición y la innovación en cada creación. Nos esforzamos por mantener viva la esencia de las recetas familiares mientras exploramos nuevos horizontes de sabor, calidad y sostenibilidad.</p>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Calidad y Autenticidad</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Innovación con Tradición</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Innovación con Tradición</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Expansión y Accesibilidad</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Experiencia del Cliente</h5>

                <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Visión</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestro Servicio</h4>
            <h1 class="display-4">Sello OnlyFlans</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">s
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/delivery.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-truck service-icon"></i>Flanes a tu puerta</h4>
                        <p class="m-0">Disfruta de nuestros exquisitos flanes en la comodidad de tu hogar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/catering.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Catering</h4>
                        <p class="m-0">¡Lleva la dulzura y la tradición de nuestros flanes a tu evento con nuestro exclusivo servicio de catering!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/flanMelon.jpg" alt="flanMelon">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Premios</h4>
                        <p class="m-0">En OnlyFlans, nos enorgullece anunciar que nuestros flanes artesanales han sido reconocidos con prestigiosos premios gourmet, consolidando nuestro compromiso con la calidad, la innovación y el sabor excepcional.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/ingredientes.avif" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Recetas a pedido</h4>
                        <p class="m-0">Nuestros clientes pueden personalizar sus pedidos eligiendo los ingredientes que deseen para crear su flan perfecto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Offer Start ¿Lo dejamos?-->
<div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
    <div class="container py-5">
        <h1 class="display-3 text-primary mt-3">50% OFF</h1>
        <h1 class="text-white mb-3">Oferta especial los Domingos</h1>
        <h4 class="text-white font-weight-normal mb-4 pb-3">Ingresa tu correo para enviar el código de descuento</h4>
        <form class="form-inline justify-content-center mb-4">
            <div class="input-group">
                <input type="text" class="form-control p-4" placeholder="Tu correo" style="height: 60px;">
                <div class="input-group-append">
                    <button class="btn btn-primary font-weight-bold px-4" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Offer End -->


<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Catálogo de Productos</h4>
            <h1 class="display-4">Flanes</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-5">Tradición</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanChocolate.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Chocolate</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanCafe.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Café</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanHuevo.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Huevo</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanGalletas.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Galletas</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanManjar.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Manjar</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanVainilla.png" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Vainilla</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanQueso.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Queso</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Innovación</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanLimon.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Fan de Limón</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanCoco.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Coco</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanCastañas.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Castañas</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanCoco.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Coco</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanMaracuya.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Maracuyá</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanMelon.jpg" alt="">
                        <h5 class="menu-price">$---</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Melón</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/flanPlatano.jpg" alt="">
                        <h5 class="menu-price">$9</h5>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Flan de Plátano y Miel</h4>
                        <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->


<!-- Reservation Start -->
<div class="container-fluid my-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">Eventos</h1>
                        </div>
                        <p class="text-white">Lorem justo clita erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                            ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea</p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                        <h1 class="text-white mb-4 mt-5">Comunícate con OnlyFlans</h1>
                        <form class="mb-5">
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent border-primary p-4" placeholder="Nombre"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control bg-transparent border-primary p-4" placeholder="Correo"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Fecha evento" data-target="#date" data-toggle="datetimepicker"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="custom-select bg-transparent border-primary px-4" style="height: 49px;">
                                    <option selected>Tipo Evento</option>
                                    <option value="1">Break</option>
                                    <option value="2">Matrimonio</option>
                                    <option value="3">Baby Shower</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>
                            
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->

<!-- Footer injection  -->
{% block 'footer' %}
{% include 'footer.html' %}
{% endblock %}



<!-- Back to Top Arrow-->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-5.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

{% endblock %}