{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Servicios</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Servicios</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestro Servicio</h4>
                <h1 class="display-4">Sello OnlyFlans</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">s
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/delivery.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon"></i>Flanes a tu puerta</h4>
                            <p class="m-0">Disfruta de nuestros exquisitos flanes en la comodidad de tu hogar</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/catering.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon"></i>Catering</h4>
                            <p class="m-0">¡Lleva la dulzura y la tradición de nuestros flanes a tu evento con nuestro exclusivo servicio de catering!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/flanMelon.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon"></i>Premios Gourmet</h4>
                            <p class="m-0">En OnlyFlans, nos enorgullece anunciar que nuestros flanes artesanales han sido reconocidos con prestigiosos premios gourmet, consolidando nuestro compromiso con la calidad, la innovación y el sabor excepcional.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/ingredientes.avif" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon"></i>Recetas a pedido</h4>
                            <p class="m-0">Nuestros clientes pueden personalizar sus pedidos eligiendo los ingredientes que deseen para crear su flan perfecto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


{% endblock %}